<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h1>Registro de Nuevo Empleado</h1>
        <form [formGroup]="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ingrese su nombre"
              formControlName="nombre">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ingrese su cargo"
              formControlName="cargo">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ingrese su departamento"
              formControlName="departamento">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Ingrese su sueldo"
              formControlName="sueldo">
          </div>
          <button class="btn btn-primary" (click)="save()">{{form.controls._id.value ? 'Grabar' : 'Crear'}}</button>
          <button class="btn btn-secondary" (click)="form.reset()">Limpiar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Departamento</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        @for(item of empleado; track item){
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.cargo}}</td>
            <td>{{item.departamento}}</td>
            <td>
              <button class="btn btn-secondary" (click)="edit(item)">Actualizar</button>
              <button class="btn btn-danger" (click)="delete(item)">Eliminar</button>>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>